# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
eggs/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
# VSCode
.vscode/
# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini
# Logs
*.log
# Project specific
out/*
!out/ibov_b3.csv
!out/ibov_b3_2019_2020.csv
!out/ibov_b3_2019_2021.csv
!out/ibov_b3_2019_2022.csv
data/*
!data/cotahist_2019_2020/
!data/cotahist_2019_2021/
!data/cotahist_2019_2020/**
!data/cotahist_2019_2021/**
!data/cotahist_2019_2022/
!data/cotahist_2019_2022/**
